<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">

<head>
  {{ partial "head.html" . }}
</head>

<body>

  {{ if not .IsHome }}
  <header>
    {{ partial "header.html" . }}
  </header>
  {{ end }}

  <main style="flex: 1;">
    {{ block "main" . }}{{ end }}
  </main>

  {{ if and (not .IsHome) (not .IsSection) (ne .Kind "taxonomy") (ne .Kind "term") }}
  <footer>
    {{ partial "footer.html" . }}
  </footer>
  {{ end }}

</body>
</html>


