{{ define "main" }}
  <h1>{{ .Title }}</h1>

  <i>{{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}</i>
  
<!--
  {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
  {{ $dateHuman := .Date | time.Format ":date_long" }}
 <i><time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time></i> -->

  <p>{{ .Date | time.Format "2006年1月2日" }}</p>

  {{ .Content }}

  {{ $backpath := path.Base (path.Dir (path.Dir .RelPermalink)) }}

  <p><a href="{{ .Parent.RelPermalink }}">← Back to {{ $backpath }}</a></p>

{{ end }}
