body {
  color: #000000;
  font-family: 'Times New Roman', Times, serif;
  line-height: 1.5;
  margin: 0 auto;
  width: 100%;
  max-width: 768px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0 20px;
  box-sizing: border-box;
}

section {
  color: #000000;
  font-family: 'Times New Roman', Times, serif;
  line-height: 0.5;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0 20px;
  box-sizing: border-box;
}

header {
  border-bottom: 1px solid #d3d3d3;
  margin-bottom: 1rem;
}

footer {
  border-top: 1px solid #000000;
  margin-top: 1rem;
}

a {
  color: #00e;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

main {
  flex: 1;
  width: 100%;
}