{{- /*
For a given taxonomy, renders a list of terms assigned to the page.

@context {page} page The current page.
@context {string} taxonomy The taxonomy.

@example: {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
*/}}

{{- $page := .page }}
{{- $taxonomy := .taxonomy }}

{{- with $page.GetTerms $taxonomy }}
  {{- $label := (index . 0).Parent.LinkTitle }}
  <div>
      tags:
      {{- range $index, $term := . }}
        {{- if gt $index 0 }}, {{ end }}
        <a href="{{ $term.RelPermalink }}" style="color: #000000; text-decoration: none;"> {{ lower $term.LinkTitle }} </a>
      {{- end }}
  </div>
{{- end }}
